<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/Bootstrap.css">
    <link rel="stylesheet" type="text/css" href="js/Bootstrap.js">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Bootstrap Google login form</title>

</head>
<body>
    <h1 style=" font-family:verdana; font-size:300%;">Google</h1>
    <h2>Sign in with your Google account</h2>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
            <span class="glyphicon glyphicon-user"></span>
            <form>
                <input type="Email" class="form-control"  placeholder="Enter your Email"  name="Email"><br>
                <input type="Password" class="form-control"  placeholder="Enter your Password"  name="Password"><br>
                <input type="submit" value="Submit">
            </form>
        <!--<div class="card-footer">

            <a href="/templates/index.html" class="btn btn-primary">Submit</a>
        </div>-->

        </div>
    </div>

</body>
</html>