{% extends "bootstrap/base.html" %}

{% block title %} Question for the Eatem website {% endblock %}


{% block content %}
<form method="POST" action="/recipes">
    <h1>{{ question1 }}</h1>
        <input type="checkbox" name="health_type" value="Keto"/>Keto
        <input type="checkbox" name="health_type" value="Paleo"/>Paleo
        <input type="checkbox" name="health_type" value="Pescatarian"/>Pescatarian
        <input type="checkbox" name="health_type" value="Vegan"/>Vegan
        <input type="checkbox" name="health_type" value="Vegetarian"/>Vegetarian
    <h1>{{ question2 }}</h1>
        <input type="checkbox" name="health" value="Gluten-free"/>Gluten-free
        <input type="checkbox" name="health" value="Dairy-free"/>Dairy-free
        <input type="checkbox" name="health" value="Peanut-free"/>Peanut-free
        <input type="checkbox" name="health" value="Soy-free"/>Soy-free
        <input type="checkbox" name="health" value="Wheat-free"/>Wheat-free
    <h1>{{ question3 }}</h1>
        <input type="checkbox" name="diet" value="Balanced"/>Balanced
        <input type="checkbox" name="diet" value="High-fiber"/>High-fiber
        <input type="checkbox" name="diet" value="High-protein"/>High-protein
        <input type="checkbox" name="diet" value="Low-Carb"/>Low-Carb
        <input type="checkbox" name="diet" value="Low-fat"/>Low-fat
        <input type="checkbox" name="diet" value="Low-sodium"/>Low-sodium
    <h1>{{ question4 }} </h1>
        <input name="food_type">
    <h1>{{ question5 }} </h1>
        <input name="calories">
            <br>
            <br>
    <input type="submit" value="submit" />
</form>
{% endblock %}