{% extends "base.html" %}
{% block title %} Recipe Details {% endblock %}

<!--      Todo add the list of data from the api response-->
{% block content %}
<h1 xmlns="http://www.w3.org/1999/html"> List of Meals </h1>
      <body>
      {% if results %}
      {% for key, value in response_list.items() %}
      <form method="POST" action="/recipe/details">
          <h3>
              <input type="submit" name="recipe" value="{{key}}">
          </h3>

      </form>
        <li>
            <img src={{ value.1 }} width="200" height="200">
            <a href = {{ value.0 }} > visit website for {{ key }} </a>
        </li>

      {% endfor %}

      {% else %}
      <ul class=flashes>
          <h2> Information entered in questionnaire can not find recipes, please try again </h2>

          <form>
            <input type="button" value="Back to questionnaire" onclick="history.back()">
          </form>
      </ul>
      {% endif %}
      </body>

{% endblock %}