{% extends "bootstrap/base.html" %}
{% block title %} RESPONSE NEEDS UPDATE? {% endblock %}

<!--      Todo add the list of data from the api response-->
{% block content %}
<h1> List of Meals </h1>
      <body>
      {% for key, value in response_list.items() %}
      <form method="POST" action="/recipe/details">
          <h3> <a href="recipe/details"> {{ key }}</a> </h3>
      </form>
        <li>
            <img src={{ value.1 }} width="200" height="200">
            <a href = {{ value.0 }} > visit website for {{ key }} </a>
        </li>

      {% endfor %}

      </body>

{% endblock %}