{% extends "base.html" %}

{% block content %}
<h1>Meet the Team!</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <h7> With the average American spending about $1200 a year on fast food
        and college students statistically spending about $1260 each semester.
        We here at Eatem recognized that something had to change! Our mission is to promote healthier eating so that our friends, families, and communities can lead healthier lives. Since we strongly believe that you are what you eat, we wanted to create a safe space
        to connect individuals with a platform that empowers you to explore various types of diets and guides you on your way of becoming an overnight health-conscious chef in your household!
        We are excited to provide our users with step by step recipes and even more excited to be launching our services for free to United States colleges.
      </h7>
<div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/static/photos/IMG_2550.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://www.instagram.com/bri3wil/">Briana Williams</a>
              </h4>
              <p class="card-text">Junior computer science major at Morgan State University.<br>
              <b>Project Task/Technologies:</b>
                <ul>
                  <li>Questionnaire</li>
                  <li>Google Login</li>
                  <li>Python flask implementation</li>
                  <li>HTML5</li>
                  <li>Post request/Get request</li>
                </ul>
            </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/static/photos/IMG_2548.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://www.instagram.com/artofkin/">Malik Warren</a>
              </h4>
              <p class="card-text">Senior computer science major at Morgan State University!<br>
                <b>Project Task/Technologies:</b>
                  <ul>
                    <li>Web Designer</li>
                    <li>Boostrap implementation</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>Flask/Python implementation</li>
                  </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/static/photos/IMG_2552.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://www.instagram.com/deandraaa3._/">Deandra Harvin</a>
              </h4>
              <p class="card-text">Junior computer science major at Morgan State University.<br>
              <b>Project Task/Technologies:</b>
                <ul>
              <li>Edemam API </li>
              <li>Querying API based on questionnaire response</li>
              <li>Python flask implementation</li>
              <li>HTML5</li>
              <li>Queue implementation</li>

            </ul>
              </p>
            </div>
          </div>
        </div>
{% endblock %}