{% extends "base.html" %}

{% block content %}
<h1>Meet the Team!</h1>

<div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/static/photos/IMG_2550.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Briana Williams</a>
              </h4>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/static/photos/IMG_2548.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Malik Warren</a>
              </h4>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/static/photos/IMG_2552.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Deandra Harvin</a>
              </h4>
              <p class="card-text">Software Engineer</p>
            </div>
          </div>
        </div>
{% endblock %}